html {
    font-size: 35px;
    background: #ffffff;
    overflow: hidden;
    height: 100vh;
    background: url(../medias/background.png) top center no-repeat;
    background-size: cover;
   
    
}

*{
    font-family: 'Alumni Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    cursor:url(../medias/mouse.png), auto;
}


/*PARTIE MENU*/

h1 {
    text-align: center;
    font-size: 4.6em;
    line-height: 1;
    margin-bottom: 0;
    
}

.menu {
/*    visibility: visible;    */
    display: block;
    color: white;
    margin-top: 20vh;
    cursor: default;
}

.names{
    margin-top: 15vh;
    font-size: 0.8em;
}

/*
button{
    width: 20vw;
    font-size: 1em;
    height: 10vh;
    color: #ffffff;
    background-color: lightpink;
    border-radius: 10px;
    border: 0;
    margin-top: 10vh;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}
*/



.button-start {
    cursor: pointer;
    margin-top: 10vh;
  background-color: lightgray;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-start:hover {
  background-color: #fff;
}

.button-start:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/*
@media (min-width: 768px) {
  .button-start {
    min-width: 120px;
    padding: 0 25px;
  }
}
*/



/*PARTIE JEU*/


.game {
/*    visibility: hidden;*/
    width: 70vw;
    height: 50vh;
    display: none; /* à transformer en display flex pour s'afficher */
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    
    margin-top: 30vh;
    
}

.time-left{
    position: absolute;
    margin-top: 12vh;
    margin-left: 18vw;
    width: 14vw;
    color: white;
}

.score {
    background: #164063;
    border-radius: 16px;
    color: #ffffff;
    font-size: 1em;
    display: none;
    width: 6vw;
    height: 6vh;
    z-index: 4;
/*    position: absolute;*/
    margin-top: 4vh;
    margin-left: 47vw;
    
    
    text-align: center;
    justify-content: center;
    align-content: center;
}

.hole{
    overflow: hidden;
    position: relative;
    display: block;
    width: 15vw;
    height: 20vh;
/*    margin-top: 20vh;*/
}

.hole:after{
    display:block;
    background: url(../medias/iceberg.png) bottom center no-repeat;
    background-size:contain;
    content: '';
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('../medias/bad_one.png') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}

.hole.up .mole{
    top: 0;
}

.message {
    display: none;
    background: url('../medias/bad_one.png') bottom center no-repeat;
    background-size: 10%;
    position: absolute;
    top:0;
    right:0;
    width: 100%;
}


.newImg{
    background: url('../medias/moles/1.png') bottom center no-repeat;
    background-size: 60%;
}
.newImg2{
    background: url('../medias/moles/2.png') bottom center no-repeat;
    background-size: 60%;
}
.newImg3{
    background: url('../medias/moles/3.png') bottom center no-repeat;
    background-size: 60%;
}
.newImg4{
    background: url('../medias/moles/4.png') bottom center no-repeat;
    background-size: 60%;
}
.newImg5{
    background: url('../medias/moles/5.png') bottom center no-repeat;
    background-size: 60%;
}

.gift{
    background: url('../medias/gift.png') bottom center no-repeat;
    background-size: 40%;
    position: absolute;
    z-index: 10;
    width: 10vw;
    height: 30vh;
    display: none;
}

.giftAnim{
    display: block;
    animation: animBalloon ease-in-out 20s forwards;
    z-index: 10;
}

@keyframes animBalloon {
    0%   {top: 10vh; left: -10vw}
    100% {top: 10vh; left: 110vw;}
  }


/*
@media (min-width: 667px) and (max-width: 1024px){
    
    h1 {
        display: none;
    }
    .score {
    background:blue;
    padding: 0 12px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
}

    .hole.up .mole{
        top:17px;
    }
}

@media (max-width: 667px){

    .game {
        width: 667px;
        height: 300px;
        display:flex;
        flex-wrap:wrap;
        margin: 0 auto;
    }

    .score{
        width:35px;
        font-size: 15px;
        height: 40px;
        color: #fff;
        background-color: blue;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px;
        }

        button{
            margin: 10px 10px 10px 10px;
            height: 40px;
            width: 75px;
            font-size: 15px;
        }

    .hole:after{
        display:block;
        background: url(../medias/dirt.png) bottom center no-repeat;
        background-size:contain;
        content: '';
        max-width: 70%;
        height: 60px;
        position: absolute;
        z-index: 2;
        bottom: -30px;
    }

    .mole {
        background: url('../medias/mole.png') bottom center no-repeat;
        background-size: 60%;
        position: absolute;
        top: 100%;
        max-width: 70%;
        height: 70%;
        transition: all 0.4s;
    }

    .hole.up .mole{
        top:50px;
    }
}
*/